@import '../../styles/variables.scss';

.SearchModal {
    position: fixed;
    top: -2%;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    z-index: 3;
    width: 350px;
    height: 76px;

    .search-box {
        position: relative;
        width: 100%;

        & input {
            width: 100%;
            padding: 12px;
            border: none;
            background-color: #151F2E;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            outline: none;
            color: white;

            &::placeholder {
                font-size: 16px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 300;
                color: $gray !important;

                &:focus {
                    color: white;
                }
            }
        }
    }

    .search-box__btn {
        position: absolute;
        top: 25%;
        right: 5%;
        background-color: transparent;
        border: none;
        cursor: pointer;

        & i {
            color: $whitesmoke;
            font-size: 18px;
        }
    }

    .search-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: 100%;
        position: absolute;
        top: 100%;
        height: 395px;
        overflow-y: auto;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: rgb(0, 0, 0, 0.75);

        & .CardList {
            background-color: transparent;
        }

        & .Card {
            display: flex;
            align-items: center;
            gap: 30px;
            width: 100%;
            cursor: pointer;
            margin-bottom: 8px;
        }

        & img {
            width: 63px;
            border-radius: 2px;
        }

        & h1 {
            width: 200px;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1rem;
            text-align: center;
        }

        & span {
            display: none;
        }       
    }
}

@media only screen and (max-width: 1855px){
    .SearchModal {
        right: 10%;
    }
}

@media only screen and (max-width: 1623px){
    .SearchModal {
        right: 5%;
    }
}

@media only screen and (max-width: 1443px){
    .SearchModal {
        right: 2.5%;
    }
}

@media only screen and (max-width: 363px){
    .SearchModal {
        width: 95%;
    }
}

@media only screen and (max-width: 321px){
    .SearchModal {
        .search-card {
            & .Card {
                gap: 10px;
            }

            & h1 {
                font-size: 90%;
            }
        }
    }
}