.Header {
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 2;
    background-color: #11161D;
}

.Header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.Header__title {
    color: white;
    font-family: 'Permanent Marker';
    font-size: 2.2rem;
    letter-spacing: 5px;
    cursor: pointer;
}

.Header button {
    border: none;
    background-color: transparent;
    width: 22px;
    z-index: 2;
}

.Header button i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.Header button i:hover {
    color: #3DB4F2;
}

@media only screen and (max-width: 1400px){
    .Header-container {
        width: 90%;
    }
}